page-list-master {


    .words {
        width: 50%
    }

    .word-builder {
        text-align: center;
        
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .powerup {
        width: 50%;
        float: right;
    }
}
