<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div style="float:right; margin-right: 10px">
    <h3>{{ formatTime(game.timeLeft) }}</h3>
    <h3>{{ game.getScore().toLocaleString('us-EN') }}</h3>
  </div>

  <!-- Word list -->
  <ion-item-group class="words">
    <ion-grid>
      <ion-row *ngFor="let word of game.wordList">
        <ion-col tappable (click)="definitionToast(word)">
          {{ word }}
        </ion-col>
        <ion-col>
          {{ word.getScore().toLocaleString('us-EN') }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item-group>

  <div class="word-builder">
    <h1>{{ game.currentWord.toString() }}</h1>
  </div>

  <!-- letter buttons -->
  <ion-grid style="padding: 5px; position: absolute; bottom: 50px; width: 100%">
    <ion-row *ngFor="let row of rowsAndCols">
      <ion-col *ngFor="let letter of row">
        <div class="{{'selected-' + letter.selected}}">
          <button ion-button full color="{{alphabet.isVowel(letter) ? 'secondary' : 'primary'}}" (click)="letterClick(letter)">
            <b class="letterText">{{ letter.value }}</b>
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Toolbar -->
  <div style="padding: 5px; position: absolute; bottom: 0px; width: 100%">
    <button (click)="delete()" ion-button> Delete </button>
    <button (click)="shuffle()" ion-button> Shuffle </button>
    <button style="float: right" (click)="submit()" ion-button> Submit </button>
  </div>

  <!-- Bonus buttons -->
  <ion-fab right middle #bonusFab>
      <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
      <ion-fab-list side="left">
        <button ion-fab (click)="useBonus(bonusFab, 'WordHintBonus')">Hint!</button>
        <button ion-fab (click)="useBonus(bonusFab, 'TimeBonus')">Time!</button>
        <button ion-fab (click)="useBonus(bonusFab)">+Words!</button>
        <button ion-fab (click)="useBonus(bonusFab)">WildCard!</button>
      </ion-fab-list>
    </ion-fab>

</ion-content>
