page-list-master {


    .scroll-bar-indicator
{
	display: none;
}

    .words {
        width: 50%;
        height: 50%;
    }

    .word-builder {
        text-align: center;
        
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .powerup {
        width: 50%;
        float: right;
    }

    .letterText {
        font-size: 22px;
    }

    .selected-true {
        opacity: 0.3;
    }
}
